<section class="flex ">
    <app-side-bar></app-side-bar>
    <div class="relative overflow-x-auto sm:rounded-lg w-full p-14">
        <div class="w-full flex flex-col">
            <div class="w-full overflow-x">
                <div class="flex items-center justify-between">
                    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        Promotions :
                    </h2>
                </div>
                <table class="w-full whitespace-no-wrap">
                    <thead>
                    <tr
                            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800 transition duration-700 ease-in-out"
                    >
                        <th class="px-4 py-3">#ID</th>
                        <th class="px-4 py-3">Category</th>
                        <th class="px-4 py-3">Date Debut</th>
                        <th class="px-4 py-3">Date Fin</th>
                        <th class="px-4 py-3">Status</th>
                        <th class="px-4 py-3"></th>
                    </tr>
                    </thead>
                    <tbody
                            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 transition duration-700 ease-in-out"
                    >
                    <tr class="text-gray-700 dark:text-gray-400 ease-in-out" *ngFor="let promotion of promotions">
                        <td class="px-4 py-3 text-sm">
                            {{promotion.idPr}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{promotion.category}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{promotion.dateDebut}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{promotion.dateFin}}
                        </td>
                        <td class="px-4 py-3 text-xs">
                        <span
                                class="px-2 py-1 font-semibold leading-tight rounded-full "
                                [class]="promotion.status == 'Validé' ? 'text-green-700 bg-green-100 dark:bg-green-700 dark:text-green-100' : 'text-orange-700 bg-orange-100 dark:bg-orange-700 dark:text-orange-100'"
                        >
                          {{promotion.status}}
                        </span>
                        </td>
                        <td class="px-4 py-3">
                            <div class="flex items-center justify-center space-x-4 text-sm">
                                <button
                                        class="text-white px-6 py-2 rounded-3xl focus:outline-none focus:shadow-outline-gray bg-[#0155a7] hover:bg-blue-900 text-sm font-medium focus:shadow-outline-gray"
                                        aria-label="Edit"
                                        (click)="acceptPromotion(promotion)"
                                >
                                    accepter
                                </button>
                                <button
                                        class="text-white px-6 py-2 rounded-3xl focus:outline-none focus:shadow-outline-gray bg-red-600 hover:bg-blue-900 text-sm font-medium focus:shadow-outline-gray"
                                        aria-label="Edit"
                                        (click)="refuserPromontion(promotion)"
                                >
                                    refuser
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div
                    class="w-full md:grid whitespace-no-wrap px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800 transition duration-700 ease-in-out"
            >
                <span class="flex items-center col-span-3">
                  Showing 7
                </span>
                <span class="col-span-2"></span>
                <!-- Pagination -->
                <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                      <li>
                        <button
                                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous" (click)="previousPage()"
                        >
                          <svg
                                  class="w-4 h-4 fill-current"
                                  aria-hidden="true"
                                  viewBox="0 0 20 20"
                          >
                            <path
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd"
                                    fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                      <li *ngFor="let page of loopArray; let i = index" (click)="changePage(i + 1)"
                          class="flex flex-1 justify-evenly">
                        <button
                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                                [class]="currentPage == i + 1 ? 'bg-[#0155a7] text-white' : 'bg-white'"
                        >
                          {{ i + 1 }}
                        </button>
                      </li>
                        <li>
                        <button
                                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous" (click)="nextPage()"
                        >
                            <svg class="w-4 h-4 fill-current"
                                 aria-hidden="true"
                                 viewBox="0 0 20 20"
                            ><path
                                    d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>
                        </button>
                      </li>
                    </ul>
                  </nav>
          </span>
            </div>
        </div>
    </div>
</section>
